if BOARD_SOFLE_CHOC_PRO_LEFT || BOARD_SOFLE_CHOC_PRO_RIGHT

config BOARD
	default "sofle_choc_pro_left" if BOARD_SOFLE_CHOC_PRO_LEFT
	default "sofle_choc_pro_right" if BOARD_SOFLE_CHOC_PRO_RIGHT

# Hier die Hardware-Specs (nRF52840)
config IEEE802154_NRF5_RAW
	default y
	depends on IEEE802154

endif # BOARD_SOFLE_CHOC_PRO
