if BOARD_SOFLE_CHOC_PRO_LEFT

config BOARD
    default "sofle_choc_pro_left"

config ZMK_KEYBOARD_NAME
    default "Sofle Choc Pro"

# Wichtig: Falls du hier ein "source" stehen hast, das mit boards/arm/ beginnt: LÖSCHEN.
endif
