if BOARD_SOFLE_CHOC_PRO_LEFT

config BOARD
    default "sofle_choc_pro_left"

# Das hier ist oft die Zeile, die knallt. 
# Wir entfernen das "source" auf sich selbst oder korrigieren es:
config ZMK_KEYBOARD_NAME
    default "Sofle Choc Pro"

endif
